@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/grid";
@import "layout/header";

@import "pages/home";

/* @media only screen and (max-width: 56.25em) {
  .heading-primary-main {
    font-size: 4rem;
    letter-spacing: 1.5rem;
  }

  .heading-primary-sub {
    font-size: 1.6rem;
    letter-spacing: 1.35rem;
  }
} */
